    body {
    min-height: 100vh;
    margin: 0;
    background: #121212;
    font: comic-sanz;
    color: rgb(119, 119, 119);
    text-shadow: 3px;
          }
    .xat {
    text-align: center;
          }
    div .title {
        margin: 11;
        font-size: 36px;
        text-align: left;
}