.general {
    position: relative;
    margin: auto;
    width: 930px;
    z-index: ;
}
.box1 {
    width: 745px;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 20px 15px;
    border-left: 5px solid #b092dd;
    background-position: Center;
    background-attachment: scroll;
    background: #333333;
    background: linear-gradient(to bottom, #333333 0%, #1f1f1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1f1f1f', GradientType=0 );
    margin-bottom: 30px;
    line-height: 26px!important;
    float: left;
    box-shadow: 11px 1px 6px -7px #1a1a1a;
    z-index: -1;
}
.box2 {
    width: auto;
    height: auto;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 30px;
    line-height: 26px!important;
    float: left;
    z-index: 97;
        
}

.menu .btn {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 0px 50px 0px 52px;
    margin-bottom: 10px;
    background: #b092dd;
    background: linear-gradient(to right, #b092dd 0%, #9a75d1 41%, #794abf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b092dd', endColorstr='#794abf', GradientType=1 );
    border-radius: 0px 10px 10px 0px;
    text-decoration: none;
    color: #bbb;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Lobster', cursive;
	cursor: pointer;
	transition: 0.8s;
}

.menu .btn:hover {
	 content: "";
	position: relative;
	background: linear-gradient(to right, #4f4f4f 0%, #4a4a4a 50%, #474747 51%, #454545 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#454545', GradientType=1 );
	right: -3;
	transition: 0.8s;
}

.titulo {
    position: relative;
    display: block;
    font-size: 1.5rem;
    text-shadow: -1px 1px 5px #000;
    font-family: cambria;
	color: #FFF;
}

.parrafo {
    text-shadow: -1px 1px 5px #000;
    font-family: cambria;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
	color: #DDD;
}
.infopost {
    text-align: right;
    text-decoration: underline overline;
}
a {
	text-decoration: none;
	color: #b092dd;
}
a:hover {
	content: "";
	color: #DDD;
}
.idx {
	margin: 5px;
}
.widget p {
	display: inline-block;
	line-height: 1em;
}
.reloj {
	font-family: Oswald, Arial;
	text-align: center;
	font-size: 2.2em;
	margin-bottom: 0.3125rem;
	background: rgba(0,0,0,.5);
	padding: 5px;
	width: 100%;
}
.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 1rem;
	display: block;
}
.reloj .hdm {
	font-size: 1rem;
	display: block;
}